html {
  text-align: center;
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
}

body {
  background: linear-gradient(-50deg, #e5c890, #85c1dc, #babbf1, #f4b8e4);
}

h1 {
  font-size: 40px;
  font-family: cursive;
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid black;
}

h2 {
  font-size: 30px;
  font-family: cursive;
  background-color: white;
  margin-left: 300px;
  margin-right: 300px;
  border: 1px solid black;
}

#aboutme {
  font-size: 19px;
  font-family: cursive;
}

#contact {
  font-size: 18px;
}

#e1t1 {
  font-size: 20px;
}