html {
    text-align: center;
  }
  body {
    background: linear-gradient(07deg, #c4e5ff, #c7b6fa);
  }
  
  h1 {
    font-size: 40px;
    font-family: cursive;
  }
  
  h2 {
    font-size: 30px;
    font-family: cursive;
  }
  
  #aboutme {
    font-size: 19px;
    font-family: cursive;
  }
  
  #contact {
    font-size: 18px;
  }
  
  #e1t1 {
    font-size: 20px;
  }